body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid blue;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
}